@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /*COLORS*/

  --black: #171717;
  --buttons: #266b37;
  --error-form: #ef4444;
  --warning: #facc15;
  --info: #0ea5e9;

  /*MAIN COLORS
  
🎯 Color principal (acción, botones, links):
Azul profesional: #2563eb (Tailwind blue-600)

Alternativa elegante: #0f172a (Tailwind slate-900)

🎨 Secundarios (fondos suaves, detalles, hover):
Gris claro: #f1f5f9 (Tailwind slate-100)

Gris medio: #cbd5e1 (Tailwind slate-300)

Azul claro: #dbeafe (Tailwind blue-100)



Error: #ef4444 (Tailwind red-500)

Info: #0ea5e9 (Tailwind sky-500)

🖤 Texto y fondo:
Fondo general: #ffffff o #f9fafb (Tailwind gray-50)

Texto principal: #1e293b (Tailwind slate-800)

Texto secundario: #64748b (Tailwind slate-500)
  */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #cbd5e1;
  color: #171717;
  font-family: "Inter", sans-serif;
  position: relative;
}
